extends layout

block content
   .container
      
      h2.text-center.top-buffer New Merchant Sign UP Register Form
      form.form-horizontal(role="form", method="post")
        .form-group
          .alert.alert-danger(role='alert', id="msgDiv")
        .form-group
          label.col-sm-3.control-label(for="fullname") 
           strong Full Name
          .col-sm-9
            input#fullname.form-control(type="text" placeholder="Full Name" autofocus="" value="")
        .form-group
          label.col-sm-3.control-label(for="email") 
           strong Email
          .col-sm-9
            input#email.form-control(type="email" placeholder="Email")
        .form-group
          label.col-sm-3.control-label(for="password") 
           strong Password
          .col-sm-9
            input#password.form-control(type="password" placeholder="Password")
        .form-group
          label.col-sm-6.control-label(for="cpassword") 
           strong Confirm Password
          .col-sm-9
            input#cpassword.form-control(type="password" placeholder="Confirm password")
        .form-group
          label.col-sm-9.control-label(for="dob") 
           strong Date of Birth
          .col-sm-9
            input#dob.form-control(type="date")
        .form-group
          label.col-sm-3.control-label(for="country") 
           strong Country
          .col-sm-9
            select#country.form-control
              option(value='') Please Select
              option USA
              option United Kingdom	
              option Germany
              option Denmark
              option Ecuador
              option Canada
              option France
              option Others
        .form-group
          label.control-label.col-sm-3 
           strong Gender
          .col-sm-6
            .row
              .col-sm-6
                label.radio-inline
                  input#femaleRadio(name="gender" type="radio" value="Female")
                  | &nbsp;Female
              .col-sm-4
                label.radio-inline
                  input#maleRadio(name="gender" type="radio" value="Male")
                  | &nbsp;Male            
        .form-group
          label.col-sm-6.control-label(for="company_name") 
           strong Company Name
          .col-sm-9
            input#company.form-control(type="text" placeholder="company_name" autofocus="" value="")        

        .form-group
          label.col-sm-6.control-label(for="company_web") 
           strong Company Web URL Address
          .col-sm-9
            input#company_web.form-control(type="text" placeholder="company www.website" autofocus="" value="")
        
        .form-group
          label.col-sm-6.control-label(for="company_address") 
           strong Company Address
          .col-sm-9
            input#company_address.form-control(type="text" placeholder="company_address" autofocus="" value="")

        .form-group
          label.col-sm-6.control-label(for="company_product") 
           strong Company Products
          .col-sm-9
            input#company_product.form-control(type="text" placeholder="company_product" autofocus="" value="")  
        .form-group
          label.col-sm-6.control-label(for="owner_manager_name") 
           strong Owner/Manager Name
          .col-sm-9
            input#owner_manager_name.form-control(type="text" placeholder="owner_manager_name" autofocus="" value="")

        .form-group
          label.col-sm-6.control-label(for="owner_manager_address") 
           strong Owner/Manager Address
          .col-sm-9
            input#owner_manager_address.form-control(type="text" placeholder="owner_manager_address" autofocus="" value="")

        .form-group
          label.col-sm-6.control-label(for="owner_country") 
           strong Owner's Country
          .col-sm-9
            select#owner_country.form-control
              option(value='') Please Select
              option USA
              option United Kingdom	
              option Germany
              option Denmark
              option Ecuador
              option Canada
              option France
              option Others        

        .form-group
          label.col-sm-6.control-label(for="owner_SSN_EIN") 
           strong Owner/Manager SSN_EIN
          .col-sm-9
            input#owner_SSN_EIN.form-control(type="text" placeholder="owner_SSN_EIN" autofocus="" value="")

        .form-group
          label.col-sm-9.control-label(for="owner_passport") 
           strong Owner/Manager's Passport/Driver ID
          .col-sm-9
            input#owner_passport.form-control(type="text" placeholder="owner_passport" autofocus="" value="") 

        .form-group
          label.col-sm-9.control-label(for="owner_email") 
           strong Owner/Manager's eMail
          .col-sm-9
            input#owner_email.form-control(type="text" placeholder="owner_email" autofocus="" value="")   

        .form-group
          label.col-sm-9.control-label(for="owner_skypeid") 
           strong Owner/Manager's SkypeId
          .col-sm-9
            input#owner_skypeid.form-control(type="text" placeholder="owner_skypeid" autofocus="" value="")     

        .form-group
          label.col-sm-6.control-label(for="customer_support_name") 
           strong Customer Support Name
          .col-sm-9
            input#customer_support_name.form-control(type="text" placeholder="customer_support_name" autofocus="" value="")

        .form-group
          label.col-sm-9.control-label(for="customer_support_phone") 
           strong Customer Support Phone
          .col-sm-9
            input#customer_support_phone.form-control(type="text" placeholder="Customer_support_phone" autofocus="" value="") 

        .form-group
          label.col-sm-9.control-label(for="customer_support_email") 
           strong Customer Support eMail:
          .col-sm-9
            input#customer_support_email.form-control(type="text" placeholder="Customer_support_email" autofocus="" value="")                                          
            
        .form-group
          label.col-sm-6.control-label(for="accept_credit_cards") 
           strong Accept_credit_cards ?
          .col-sm-9
            input#accept_credit_cards.form-control(type="text" placeholder="Accept_credit_cards ?" autofocus="" value="")

        .form-group
          label.col-sm-9.control-label(for="processed_before") 
           strong Processed_before
          .col-sm-9
            input#processed_before.form-control(type="text" placeholder="Processed before ?" autofocus="" value="") 

        .form-group
          label.col-sm-9.control-label(for="acct_terminated") 
           strong Acct terminated Reason
          .col-sm-9
            input#acct_terminated.form-control(type="text" placeholder="Acct be terminated reason" autofocus="" value="")
         
        .form-group
          label.col-sm-9.control-label(for="time_with_processor") 
           strong time_with_processor
          .col-sm-9
            input#time_with_processor.form-control(type="text" placeholder="time_with_processor" autofocus="" value="")                                          
            
        .form-group
          label.col-sm-6.control-label(for="current_processor") 
           strong current_processor ?
          .col-sm-9
            input#current_processor.form-control(type="text" placeholder="Your current processor?" autofocus="" value="")

        .form-group
          label.col-sm-9.control-label(for="heard_about_us") 
           strong heard_about_us
          .col-sm-9
            input#heard_about_us.form-control(type="text" placeholder="How did you hear about us?" autofocus="" value="") 

        .form-group
          label.col-sm-9.control-label(for="agent_name") 
           strong agent_name
          .col-sm-9
            input#agent_name.form-control(type="text" placeholder="Agent's name" autofocus="" value="")

        .form-group
          label.col-sm-6.control-label(for="monthly_sales") 
           strong Monthly sales estimate 
          .col-sm-9
            input#monthly_sales.form-control(type="text" placeholder="monthly_sales ?" autofocus="" value="")

        .form-group
          label.col-sm-9.control-label(for="times_transaction") 
           strong Monthly transaction times 
          .col-sm-9
            input#times_transaction.form-control(type="text" placeholder="times transaction per month ?" autofocus="" value="") 

        .form-group
          label.col-sm-9.control-label(for="max_ticket_value") 
           strong Max.ticket value
          .col-sm-9
            input#max_ticket_value.form-control(type="text" placeholder="max_ticket_value" autofocus="" value="")
        .form-group
          label.col-sm-9.control-label(for="min_ticket_value") 
           strong Min.ticket value
          .col-sm-9
            input#min_ticket_value.form-control(type="text" placeholder="min_ticket_value" autofocus="" value="")      

        .form-group
          label.control-label.col-sm-9 
           strong Our Service satisfy Preference
          .col-sm-9
            .checkbox
              label
                input#serviceHCheckbox(type="checkbox" value="Excellent" name="serviceH")
                | &nbsp;High  
            .checkbox
              label
                input#serviceLCheckbox(type="checkbox" value="Good"  name="serviceL")
                | &nbsp;Low 
        .form-group
          .col-sm-9.col-sm-offset-3
            .checkbox
              label
                input#terms(type="checkbox" value="yes" name="terms")
                | &nbsp;I accept 
                a(href="#") terms
        .form-group
          .col-sm-9.col-sm-offset-3
            button#register.btn.btn-primary.btn-block(type="e") Register